VITE_TASKER_URL="http://192.168.1.xx:8745"  # Tasker URL, in tasker -> activate new i -> turn on webui in a task -> copy the url

VITE_HOMEASSISTANT_URL="localhost:8123"     # Homeassistant URL, this can be external to, use https:// or http:// if you use an external server
VITE_HOMEASSISTANT_TOKEN=""                 # Homeassistant token, create a long lived token in your profile -> security -> long lived access tokens -> create token
VITE_HOMEASSISTANT_TASKER_URL=""            # Homeassistant URL, leave this empty if this should be the same. IF you want to use a variable in your tasker tasks, you can replace the api URL with a variable. Or the external version
VITE_HOMEASSISTANT_TASKER_TOKEN=""          # Homeassistant token, leave this empty if this should be the same. IF you want to use a variable in your tasker tasks, you can replace the api URL with a variable. Or the external version